* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial,
    sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, rgba(0, 53, 102, 0.75), rgba(6, 115, 110, 0.9)) no-repeat fixed;
}

.centered {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    flex: 1 1 160px;
    align-items: center;
    justify-content: left;
}

.wrapper {
    width: 90%;
    margin: 32px 5%;
    padding-bottom: 132px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.box > * {
    flex: 1 1 160px;
}

.whited {
    color: #565656;
}

.display-message {
    padding-top: 5rem;
    text-align: center;
    color: white;
}

.sticky {
    border-top: 1px solid #363636;
    flex-wrap: wrap;
    display: flex;
    padding-left: 16px;
    gap: 10px 30px;
    align-content: start;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5f5f5;
    z-index: 1;
}

nav {
    border-bottom: 1px solid #363636;
    display: flex; /* 1 */
    padding: 1rem 2rem; /* 3 */
    background: #f5f5f5; /* 4 */
}

nav ul {
    margin-left: 4rem;
    display: flex; /* 5 */
    list-style: none; /* 6 */
}

nav li { /* 7! */
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

li a {
    width: 400px;
}

a.right {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: auto;
}

.active {
    background-color: #f2594b;
    color: whitesmoke;
    border-radius: 32px;
    font-weight: bold;
}

a:active {
    color: #f2594b;
}

nav a {
    padding: 8px 24px;
    text-decoration: none;
    color: #565656;
}

nav a:hover {
    text-decoration: none;
    color: #333232;
}

.active:hover {
    color: whitesmoke;
    background-color: #e05043;
}

nav h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #565656;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }

    nav li {
        padding: 0.5rem 0;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.error {
    padding: 8px;
    font-size: 14px;
    color: darkred;
}

.file_input {
    display: block;
    background-color: white;
    margin: auto;
    align-content: center;
}

.screen {
    background: linear-gradient(110deg, #F49D95, #ffffff);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #575757;
    border-radius: 16px;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #F49D95;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #f2594b, #F49D95);
/ / top: - 24 px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #F49D95;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #F49D95;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #F49D95;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #565656;
    box-shadow: 0px 2px 2px rgba(110, 110, 110, 0.8);
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #F49D95;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #F49D95;
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #F49D95;
}

.social-login__icon:hover {
    transform: scale(1.5);
}

.list-h3 {
    font-weight: 600;
    padding-left: 1rem;
    margin: 0;
}

.list-p {
    color: #565656;
    padding-left: 1rem;
}

::file-selector-button {
    display: none;
}

.dl {
    background: #f2594b;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    padding: 8px 12px;
    position: relative;
    text-transform: uppercase;
}

.file_dl {
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    color: #2f2f31;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    padding: 8px 12px;
    position: relative;
    text-transform: uppercase;
}

.file_dl:hover {
    cursor: pointer;
}

.dl:hover {
    background: #a24139;
    cursor: pointer;
}

.form_download {
    align-self: end;
    position: absolute;
}

.tile {
    overflow: hidden;
    white-space: nowrap;
    color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    padding-right: 16px;
    align-items: start;
    gap: 10px 30px;
    align-content: start;
    min-width: 90%;
    background: #faf7ff;
    background-size: 80px !important;
    height: 5.5rem;
    border-radius: 16px;
}

.tile.pdf {
    background: #faf7ff url("/views/img/pdf.svg") no-repeat 8px center;
}

.tile.docx {
    background: #faf7ff url("/views/img/docx.svg") no-repeat 8px center;
}

.tile.doc {
    background: #faf7ff url("/views/img/documents.svg") no-repeat 8px center;
}

.tile.jpg {
    background: #faf7ff url("/views/img/jpg.svg") no-repeat 8px center;
}

.tile.png {
    background: #faf7ff url("/views/img/png.svg") no-repeat 8px center;
}

@media screen and (min-width: 1000px) {
    .tile {
        min-width: 40%;
        width: 40%;
        max-width: 48%;
    }
}
